@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Manrope';
}

h1 {
    text-align: center;
    padding: 60px;
    font-size: 5.5em;
    background: linear-gradient(to bottom, #00bf8f, #001510);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

form {
    display: flex;
    justify-content: center;
}

input {
    border: 1px solid black;
    border-radius: 5px;
    font-size: 35px;
    margin-right: 50px;
}

button {
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 35px;
    width: 250px;
    background:#0FFF50;
}

.user {
    border: 1px solid black;
    width: 35%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 25px auto;
    padding: 15px;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}

a {
    text-decoration: none;
    color: white;
    margin-top: 15px;
    font-size: 25px;
}